bd_projeto.sql
Estufa.drawio
Projeto TCC(Modelo) (1).pdf
Projeto TCC(Modelo).pdf
projeto.xml
\node_modules
desktop.ini
\diagramas
sensoresControllers_original.js
sensoresControllers-ESS025N1491325_BACKUP.js